<div class="row">
  <div class="col-sm-12 col-md-8 col-md-offset-2">
    <div class="thumbnail">
      <%= image_tag "room.jpg", style: "margin-top:20px" %>
      <div class="caption">
        <h2><%= @room.type_r %></h2>
        <br/>
        <div class="row">
          <div class="col-sm-6"><strong>Available: </strong><%= @room.quantity %></div>
          <div class="col-sm-6"><strong>Price: </strong><%= number_to_currency(@room.price) %></div>
        </div>
        <br/>
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4">
            <%= link_to 'Back', admin_hotel_rooms_path, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>