<div class="container">
  <div class="col-sm-10 col-sm-offset-1">
    <p id="notice"><%= notice %></p>

    <h1>Listing Hotels</h1>

    <div class="panel panel-default">
    <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>List of Rooms</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @hotels.each do |hotel| %>
          <tr>
            <td><%= hotel.name %></td>
            <td><%= truncate(hotel.description) %></td>
            <td><%= link_to 'List Rooms', admin_hotel_rooms_path(hotel), class: "btn btn-raised btn-xs" %></td>
            <td style="text-align: center;">
              <%= link_to 'Detail', admin_hotel_path(hotel), class: "btn btn-raised btn-xs" %>
              <%= link_to 'Edit', edit_admin_hotel_path(hotel), class: "btn btn-raised btn-xs" %>
              <%= link_to 'Remove', admin_hotel_path(hotel), method: :delete, class: "btn btn-raised btn-xs" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    </div>

    <br>

    <%= link_to 'New Hotel', new_admin_hotel_path, class: "btn btn-primary" %>
  </div>
</div>