<div class="row">
  <div class="col-sm-12 col-md-8 col-md-offset-2">
    <div class="thumbnail">
      <%= image_tag "hotel.jpg", style: "margin-top:20px" %>
      <div class="caption">
        <h2><%= @hotel.name %></h2>
        <p><%= @hotel.description %></p>
        <br/>
        <div class="row">
          <div class="col-sm-6"><strong>Types of Rooms: </strong><%= @hotel.rooms.size %></div>
          <div class="col-sm-6"><strong>Available Rooms: </strong><%= @hotel.available_rooms %></div>
        </div>
        <br/>
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4">
            <%= link_to 'Back', admin_hotels_path, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>